body {
    background: rgba(56, 56, 56, 0.98) !important;
}

.App {
    text-align: center;
}

.card {
    margin: 10px 10px 10px 10px;
}

.entete {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 25px;
}

.title {
    display: inline-block;
    margin: 0 25px;
    color: #ffffff;
}

.Table {
    margin: 10px 10px 10px 10px;
}

.playlist-table {
    display: inline;
    margin: 15px;
}

.playlist-table-card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 25px;
}

.button-sync-playlist {
    float: left;
    z-index: 1;
    display: block;
    margin: 10px 10px 10px 10px;
}

.button-delete {
    background-color: grey;
}

.CreatePlaylistCompenent {
    display: inline-block;
}

.playlist-creator {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    vertical-align: top;
    margin: 5px 5px 5px 5px;
}

.card-connexion{
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    vertical-align: top;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}



.button-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0e161f;

}

.button-connexion h2{
    margin-bottom: 20px;
}